[submodule "library/entt"]
	path = library/entt
	url = https://github.com/skypjack/entt
[submodule "library/imgui"]
	path = library/imgui
	url = https://github.com/ocornut/imgui

[submodule "library/magic_enum"]
	path = library/magic_enum
	url = https://github.com/Neargye/magic_enum
